html{
    scroll-behavior: smooth;

}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
}
hr{
    width: 75%;
}
.container{
    display: flex;
    flex-direction: column;
}
.homepage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(photos/codingchallenge.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.logo{
    width: 50px;
    float: left;
    padding: 20px;
}
.center{
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0px auto;
    font-size: 4vw;
    z-index: 1;
}
.center span{
    background-color: white;
    padding: 2px;
    line-height: 1.75;
}
.navbox{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 25px;
}
.nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 500px;
    margin: 0px auto;
}
.button{
    text-decoration: none;
    padding: 5px;
    margin: auto auto;
}
.button a{
    text-decoration: none;
    color: black;   
    font-size: 20px;
    font-weight: bold;
    background-color: ;
    padding: 8px;
    border-radius: 2px;
}
.button a:hover{
    background-color: white;

}

/*ABOUT ME*/
.aboutme{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    width: 75%;
    margin: 10px auto 0px;
    padding: 0px 20px 25px;

}
.aboutmetext{
    text-align: justify;
    width: auto;
    font-size: 18px;
}

/*PORTFOLIO*/

.projectpage{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    width: 75%;
    margin: 0px auto;
    padding: 0px 20px;
}
.projectstext{
    text-align: justify;
    width: auto;
    font-size: 18px;
}

.portfolio{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    width: 100%;
    margin: 25px auto;
}
.portfolio a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.portfolio img:hover{
    opacity: 1;
}
.project img{
    width: 100%;
    border: 1px solid black;
    opacity: .5;
}
.project{
    height: auto;
    text-align: center;
    list-style: none;
    border: 1px solid black;
    padding: 10px;
}

/*CONTACT PAGE*/
.contactpage{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    width: 75%;
    margin: 0px auto;
    padding: 0px 20px;
}
.contacttext h1{
    text-align: left;
}
.contacttext{
    text-align: center;
    width: auto;
    font-size: 18px;
}
.socials{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    margin: 0px auto;
}
.icon img{
    height: 30px;
    padding: 10px;
}
.top{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 10px auto;
}
.top img{
     height: 12px;
}

/*FOOTER*/
footer{
    margin: 0;
    height: 30px;
    font-size: 15px;
    line-height: 15px;
}
footer p{
    width: 75%;
    margin: 0px auto;
}


/*MEDIA*/
@media only screen and (max-width: 1050px) {
  .center span {
    font-size: 4.5vw;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .center span{
        font-size: 80px;
    }
      .navbox{
          bottom: 350px;
      }
      .nav{
          width: 95%;
          flex-direction: column;
      }
      .button{
          padding-bottom: 25px;
      }
      .button a{
          font-size: 60px;
      }
}